{
    "Logging": {
      "LogLevel": {
        "Default": "Warning"
      }
    },
    "ConnectionStrings": {
      "Storage": "FIXME",
      "Azure_TTS_API_Key" : "FIXME",
      "Host": "FIXME",
      "Auth_endpoint": "FIXME"
    }
  }